

body{
    background: black;
}

.container{
    background: black;
    padding-top: 50px;
    position: absolute;
    width: 100%;
    top: 50px;
    bottom: 0;
}
.card{
    background: #fff;
    margin: 0 auto;
    width: 500px;
    height: 500px; 
}
.card-header{
    padding: 15px;
}
.profile-img{
    display: inline-block;
}
profile-info{
    display: inline-block;
}
.menu{
    display: inline-block;
}


